.calculator{
    height: fit-content;
    width: 260px;
    background-color: #f2f2f2;
    margin : auto;
    box-shadow: 4px -4px 12px -10px #6f6f6f inset, -9px 5px 12px -6px white inset, 4px -8px 12px white, -8px 4px 12px #2b242421;
    padding: 20px;
    border-radius: var(--borderRadius);
    display: flex;
    flex-direction: column;

    animation: fadeIn 20s ease-in-out infinite;

}

.buttons{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    width: fit-content;
    margin-top: 20px;
}

.result{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;

    background-color: #e5e5e5;
    border-radius: var(--borderRadius);
    box-shadow: -1px 3px 14px -10px black inset, 1px -3px 14px -4px white inset;
}

#number{
    margin-bottom: 0;
    padding-right: 10px;
    letter-spacing: 1px;
    height: 20px;
}

#expression{
    margin-top: 0;
    font-size: smaller;
    color: #000000ad;
    letter-spacing: 1px;
    padding-right: 10px;
    min-height: 20px;
    width: 90%;
    text-align: end;
    overflow-y: auto;
    max-height: 40px;
    line-height: 13px;

}

@keyframes fadeIn {
    0 % {
        /*box-shadow: none;*/
        background-color: #61dafb;
    }
    100 % {
        /*box-shadow: 4px -4px 12px -10px #6f6f6f inset, -9px 5px 12px -6px white inset, 4px -8px 12px white, -8px 4px 12px #d5d5d5d6;*/
        background-color: #212121;
    }
}